form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
 
input, textarea, select {
  display: block;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  box-sizing: border-box;
}